$color-base: #728188;
$color-grey: #999;
$color-dark: #121212;
$color-black: #000;
$color-white: #fff;
$color-grey-light: #fafafa;
$color-grey-medium: #666;
$color-yellow: #ffca28;
$color-blue: #2196F3;
$color-green: #26a69a;
$color-orange: #fb8c00;
$color-red: #f44336;
$color-border: #ececec;

$container-width: 660px;
$media-max-small: 479px;
$media-min-small: 480px;
$media-max-large: 619px;
$media-min-large: 620px;
$media-min-extralarge: 959px;
