$color-base: #728188;
$color-grey: #999;
$color-dark: #121212;
$color-black: #000;
$color-white: #fff;
$color-grey-light: #fafafa;
$color-grey-medium: #666;
$color-yellow: #ffca28;
$color-blue: #2196F3;
$color-green: #26a69a;
$color-orange: #fb8c00;
$color-red: #f44336;
$color-border: #ececec;
$size-page-wide: 960px;
$screen-min: 0px;
$screen-max: 0px;
