html,
body {
  margin: 0;
  padding: 0;
  font-size: 12px;

  @media screen and (min-width: $media-min-large) {
    font-size: 16px;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Varela Round', sans-serif;
  color: $color-base;
}

::selection {
  color: $color-dark;
  background: $color-yellow;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.9rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.6rem;
  margin-top: 4rem;
}

p {
  font-size: 1.28rem;
  line-height: 1.8;
  margin-bottom: 2.2rem;
}

.container {
  @media screen and (min-width: $container-width) {
    width: $container-width;
    margin-left: auto;
    margin-right: auto;
  }

  &--center {
    justify-content: center;
  }
}

.content {
  padding-top: 5rem;
  max-width: 90%;
  margin: 0 auto;

  @media screen and (max-width: $container-width) {
    padding-left: 15px;
    padding-right: 15px;
  }

  &__intro-title {
    font-size: 1.9rem;
    margin: 1.5rem 0 3rem;
  }
}

.text {
  &--yellow {
    color: $color-yellow;
  }

  &--blue {
    color: $color-blue;
  }

  &--green {
    color: $color-green;
  }

  &--orange {
    color: $color-orange;
  }
}
