{{ define "main" }}
    <div class="teaser teaser--reverse teaser--height-large teaser--center">
        <div class="teaser__content teaser__content--reverse">
            <h1 class="teaser__headline text--yellow">Marvin Hockenjos</h1>
            <h2 class="teaser__subheadline">web developer</h2>
        </div>
        <img class="teaser__image teaser__image--portrait" alt="Marvin Hockenjos" src="/images/marvin-hockenjos.webp"
             onerror="this.onerror=null; this.src='/images/marvin-hockenjos.jpg'">
    </div>
    <section class="container content">
        <h2 class="content__intro-title text--blue">Hi, I'm Marvin!</h2>
        {{.Content}}
    </section>
{{ end }}
