{{ define "main" }}
    {{ range $index, $post := (where .Site.RegularPages "Type" .Type) }}
        {{ if eq $post.Title .Title  }}
            {{ .Scratch.Set "postcolor" (index (.Site.Params.colors) (mod $index 3)) }}
        {{end}}
    {{ end }}
    {{ $postColor := .Scratch.Get "postcolor" }}

    <article class="teaser teaser--width-medium teaser--height-medium">
        <img class="teaser__image" alt="{{ .Title }}"
             src="/images/blog/{{ .Params.image }}" onerror="this.onerror=null; this.src='/images/blog/{{ replace .Params.image "webp" "jpg" }}'">
        <div class="teaser__content">
            <h1 class="teaser__headline text--{{ $postColor }}">{{ .Title }}</h1>
            <p class="teaser__text">{{ .Description }}</p>
        </div>
    </article>
    <div class="post post--{{ $postColor }} container content">
        {{ .Content }}
    </div>
{{ end }}
