{{ define "main" }}
    <div class="teaser teaser--height-medium teaser--width-medium">
        <img class="teaser__image" alt="workdesk"
             src="/images/workdesk.webp" onerror="this.onerror=null; this.src='/images/workdesk.jpg'">
        <div class="teaser__content">
            <h2 class="teaser__headline text--green">Unterrichte (Lessons)</h2>
            <p class="teaser__text">This section will cover Lecture Scripts as German (DE) content only. Starting February 2019.</p>
        </div>
    </div>
{{ end }}
